<h2>ADD POST</h2>

<main>

    <form action="/add_post" method="post">
        <label for="">Titre de l'article</label>
        <input type="text" name="title" >
        <label for="">Contenu de l'article</label>
        <textarea name="content"></textarea>
        
    <select name="author">
        <% authors.forEach(author => { %>
            <option value="<%= author.Id%>"><%= author.FirstName%> <%= author.LastName%></option>
            
            <% }) %>
            
        </select>
        
        <select name="category">

        <% categories.forEach(category => { %>
            <option value="<%= category.Id%>"><%= category.Name%> </option>
            
        <% }) %>

    </select>
    
    <input type="submit">
    
</form>
</main>